In [1]:
# Import dependencies
import pandas as pd
import numpy as np
pd.set_option('max_colwidth', 400)

### Extract the crowdfunding.xlsx Data

In [26]:
# Read the data into a Pandas DataFrame
crowdfunding_info_df = pd.read_excel('Resources/crowdfunding.xlsx')
crowdfunding_info_df.head()

,cf_id,contact_id,company_name,blurb,goal,pledged,outcome,backers_count,country,currency,launched_at,deadline,staff_pick,spotlight,category & sub-category
0,147,4661,"Baldwin, Riley and Jackson",Pre-emptive tertiary standardization,100,0,failed,0,CA,CAD,1581573600,1614578400,False,False,food/food trucks
1,1621,3765,Odom Inc,Managed bottom-line architecture,1400,14560,successful,158,US,USD,1611554400,1621918800,False,True,music/rock
2,1812,4187,"Melton, Robinson and Fritz",Function-based leadingedge pricing structure,108400,142523,successful,1425,AU,AUD,1608184800,1640844000,False,False,technology/web
3,2156,4941,"Mcdonald, Gonzalez and Ross",Vision-oriented fresh-thinking conglomeration,4200,2477,failed,24,US,USD,1634792400,1642399200,False,False,music/rock
4,1365,2199,Larson-Little,Proactive foreground core,7600,5265,failed,53,US,USD,1608530400,1629694800,False,False,theater/plays

In [3]:
# Get a brief summary of the crowdfunding_info DataFrame.
crowdfunding_info_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1000 entries, 0 to 999
Data columns (total 15 columns):
 #   Column                   Non-Null Count  Dtype
---  ------                   --------------  -----
 0   cf_id                    1000 non-null   int64
 1   contact_id               1000 non-null   int64
 2   company_name             1000 non-null   object
 3   blurb                    1000 non-null   object
 4   goal                     1000 non-null   int64
 5   pledged                  1000 non-null   int64
 6   outcome                  1000 non-null   object
 7   backers_count            1000 non-null   int64
 8   country                  1000 non-null   object
 9   currency                 1000 non-null   object
 10  launched_at              1000 non-null   int64
 11  deadline                 1000 non-null   int64
 12  staff_pick               1000 non-null   bool
 13  spotlight                1000 non-null   bool
 14  category & sub-category  1000 non-null   object
dtypes: bool(2), int64(7), object(6)
memory usage: 103.6+ KB

### Create the Category and Subcategory DataFrames
---
**Create a Category DataFrame that has the following columns:**
- A "category_id" column that is numbered sequential form 1 to the length of the number of unique categories.
- A "category" column that has only the categories.

Export the DataFrame as a `category.csv` CSV file.

**Create a SubCategory DataFrame that has the following columns:**
- A "subcategory_id" column that is numbered sequential form 1 to the length of the number of unique subcategories.
- A "subcategory" column that has only the subcategories. 

Export the DataFrame as a `subcategory.csv` CSV file.

In [27]:
# Get the crowdfunding_info_df columns.
columns_list = crowdfunding_info_df.columns.to_list()
print(columns_list)

['cf_id', 'contact_id', 'company_name', 'blurb', 'goal', 'pledged', 'outcome', 'backers_count', 'country', 'currency', 'launched_at', 'deadline', 'staff_pick', 'spotlight', 'category & sub-category']

In [28]:
# Create empty lists to store separated values
categories = []
subcategories = []

for index, row in crowdfunding_info_df.iterrows():
    # Split the values in 'category & subcategory' column
    values = row['category & sub-category'].split('/')
    
    # Append the separated values to the respective lists
    categories.append(values[0])
    subcategories.append(values[1])

# Add new 'category' and 'subcategory' columns to the DataFrame
crowdfunding_info_df['category'] = categories
crowdfunding_info_df['subcategory'] = subcategories

In [29]:
crowdfunding_info_df.head()

,cf_id,contact_id,company_name,blurb,goal,pledged,outcome,backers_count,country,currency,launched_at,deadline,staff_pick,spotlight,category & sub-category,category,subcategory
0,147,4661,"Baldwin, Riley and Jackson",Pre-emptive tertiary standardization,100,0,failed,0,CA,CAD,1581573600,1614578400,False,False,food/food trucks,food,food trucks
1,1621,3765,Odom Inc,Managed bottom-line architecture,1400,14560,successful,158,US,USD,1611554400,1621918800,False,True,music/rock,music,rock
2,1812,4187,"Melton, Robinson and Fritz",Function-based leadingedge pricing structure,108400,142523,successful,1425,AU,AUD,1608184800,1640844000,False,False,technology/web,technology,web
3,2156,4941,"Mcdonald, Gonzalez and Ross",Vision-oriented fresh-thinking conglomeration,4200,2477,failed,24,US,USD,1634792400,1642399200,False,False,music/rock,music,rock
4,1365,2199,Larson-Little,Proactive foreground core,7600,5265,failed,53,US,USD,1608530400,1629694800,False,False,theater/plays,theater,plays

In [30]:
# Get the unique categories and subcategories in separate lists.
unique_categories = crowdfunding_info_df['category'].unique().tolist()
unique_subcategories = crowdfunding_info_df['subcategory'].unique().tolist()

print("Unique Categories:")
print(unique_categories)

print("\nUnique Subcategories:")
print(unique_subcategories)

Unique Categories:
['food', 'music', 'technology', 'theater', 'film & video', 'publishing', 'games', 'photography', 'journalism']

Unique Subcategories:
['food trucks', 'rock', 'web', 'plays', 'documentary', 'electric music', 'drama', 'indie rock', 'wearables', 'nonfiction', 'animation', 'video games', 'shorts', 'fiction', 'photography books', 'radio & podcasts', 'metal', 'jazz', 'translations', 'television', 'mobile games', 'world music', 'science fiction', 'audio']

In [31]:
num_unique_categories = len(unique_categories)
num_unique_subcategories = len(unique_subcategories)

print("Number of Distinct Categories:", num_unique_categories)
print("Number of Distinct Subcategories:", num_unique_subcategories)

Number of Distinct Categories: 9
Number of Distinct Subcategories: 24

In [32]:
# Create numpy arrays from 1-9 for the categories and 1-24 for the subcategories.
category_ids = np.arange(1, 10)
subcategory_ids = np.arange(1, 25)

print(category_ids)
print(subcategory_ids)

[1 2 3 4 5 6 7 8 9]
[ 1  2  3  4  5  6  7  8  9 10 11 12 13 14 15 16 17 18 19 20 21 22 23 24]

In [33]:
# Use a list comprehension to add "cat" to each category_id
categories_with_cat = ['cat' + str(cat) for cat in category_ids]

print("Categories with 'cat' added:")
print(categories_with_cat)

# Use a list comprehension to add "subcat" to each subcategory_id
subcategories_with_subcat = ['subcat' + str(subcat) for subcat in subcategory_ids]

print("Subcategories with 'subcat' added:")
print(subcategories_with_subcat)

Categories with 'cat' added:
['cat1', 'cat2', 'cat3', 'cat4', 'cat5', 'cat6', 'cat7', 'cat8', 'cat9']
Subcategories with 'subcat' added:
['subcat1', 'subcat2', 'subcat3', 'subcat4', 'subcat5', 'subcat6', 'subcat7', 'subcat8', 'subcat9', 'subcat10', 'subcat11', 'subcat12', 'subcat13', 'subcat14', 'subcat15', 'subcat16', 'subcat17', 'subcat18', 'subcat19', 'subcat20', 'subcat21', 'subcat22', 'subcat23', 'subcat24']

In [34]:
# Create a dictionary with category_id and category columns
category_data = {
    'category': unique_categories,
    'category_id': categories_with_cat
}

# Create the category DataFrame
category_df = pd.DataFrame(category_data)

# Display the category DataFrame
print("Category DataFrame:")
print(category_df)

Category DataFrame:
       category category_id
0          food        cat1
1         music        cat2
2    technology        cat3
3       theater        cat4
4  film & video        cat5
5    publishing        cat6
6         games        cat7
7   photography        cat8
8    journalism        cat9

In [12]:
# Create a dictionary with subcategory_id and category columns
subcategory_data = {
    'subcategory': unique_subcategories,
    'subcategory_id': subcategories_with_subcat
}

# Create the category DataFrame
subcategory_df = pd.DataFrame(subcategory_data)

# Display the category DataFrame
print("Subcategory DataFrame:")
print(subcategory_df)

Subcategory DataFrame:
          subcategory subcategory_id
0         food trucks        subcat1
1                rock        subcat2
2                 web        subcat3
3               plays        subcat4
4         documentary        subcat5
5      electric music        subcat6
6               drama        subcat7
7          indie rock        subcat8
8           wearables        subcat9
9          nonfiction       subcat10
10          animation       subcat11
11        video games       subcat12
12             shorts       subcat13
13            fiction       subcat14
14  photography books       subcat15
15   radio & podcasts       subcat16
16              metal       subcat17
17               jazz       subcat18
18       translations       subcat19
19         television       subcat20
20       mobile games       subcat21
21        world music       subcat22
22    science fiction       subcat23
23              audio       subcat24

In [35]:
category_df

       category category_id
0          food        cat1
1         music        cat2
2    technology        cat3
3       theater        cat4
4  film & video        cat5
5    publishing        cat6
6         games        cat7
7   photography        cat8
8    journalism        cat9

In [14]:
subcategory_df

          subcategory subcategory_id
0         food trucks        subcat1
1                rock        subcat2
2                 web        subcat3
3               plays        subcat4
4         documentary        subcat5
5      electric music        subcat6
6               drama        subcat7
7          indie rock        subcat8
8           wearables        subcat9
9          nonfiction       subcat10
10          animation       subcat11
11        video games       subcat12
12             shorts       subcat13
13            fiction       subcat14
14  photography books       subcat15
15   radio & podcasts       subcat16
16              metal       subcat17
17               jazz       subcat18
18       translations       subcat19
19         television       subcat20
20       mobile games       subcat21
21        world music       subcat22
22    science fiction       subcat23
23              audio       subcat24

In [36]:
#category_df = category_df.rename(columns={'categories_list': 'category'})
category_df

       category category_id
0          food        cat1
1         music        cat2
2    technology        cat3
3       theater        cat4
4  film & video        cat5
5    publishing        cat6
6         games        cat7
7   photography        cat8
8    journalism        cat9

In [16]:
#subcategory_df = subcategory_df.rename(columns={'categories_list': 'subcategory'})
subcategory_df

          subcategory subcategory_id
0         food trucks        subcat1
1                rock        subcat2
2                 web        subcat3
3               plays        subcat4
4         documentary        subcat5
5      electric music        subcat6
6               drama        subcat7
7          indie rock        subcat8
8           wearables        subcat9
9          nonfiction       subcat10
10          animation       subcat11
11        video games       subcat12
12             shorts       subcat13
13            fiction       subcat14
14  photography books       subcat15
15   radio & podcasts       subcat16
16              metal       subcat17
17               jazz       subcat18
18       translations       subcat19
19         television       subcat20
20       mobile games       subcat21
21        world music       subcat22
22    science fiction       subcat23
23              audio       subcat24

In [37]:
# Export categories_df and subcategories_df as CSV files.
category_df.to_csv("Resources/category.csv", index=False)

subcategory_df.to_csv("Resources/subcategory.csv", index=False)

### Campaign DataFrame
----
**Create a Campaign DataFrame that has the following columns:**
- The "cf_id" column.
- The "contact_id" column.
- The “company_name” column.
- The "blurb" column is renamed as "description."
- The "goal" column.
- The "goal" column is converted to a `float` datatype.
- The "pledged" column is converted to a `float` datatype. 
- The "backers_count" column. 
- The "country" column.
- The "currency" column.
- The "launched_at" column is renamed as "launch_date" and converted to a datetime format. 
- The "deadline" column is renamed as "end_date" and converted to a datetime format.
- The "category_id" with the unique number matching the “category_id” from the category DataFrame. 
- The "subcategory_id" with the unique number matching the “subcategory_id” from the subcategory DataFrame.
- And, create a column that contains the unique four-digit contact ID number from the `contact.xlsx` file.
 

Then export the DataFrame as a `campaign.csv` CSV file.

In [38]:
# Create a copy of the crowdfunding_info_df DataFrame name campaign_df. 
campaign_df = crowdfunding_info_df.copy()
campaign_df.head()

,cf_id,contact_id,company_name,blurb,goal,pledged,outcome,backers_count,country,currency,launched_at,deadline,staff_pick,spotlight,category & sub-category,category,subcategory
0,147,4661,"Baldwin, Riley and Jackson",Pre-emptive tertiary standardization,100,0,failed,0,CA,CAD,1581573600,1614578400,False,False,food/food trucks,food,food trucks
1,1621,3765,Odom Inc,Managed bottom-line architecture,1400,14560,successful,158,US,USD,1611554400,1621918800,False,True,music/rock,music,rock
2,1812,4187,"Melton, Robinson and Fritz",Function-based leadingedge pricing structure,108400,142523,successful,1425,AU,AUD,1608184800,1640844000,False,False,technology/web,technology,web
3,2156,4941,"Mcdonald, Gonzalez and Ross",Vision-oriented fresh-thinking conglomeration,4200,2477,failed,24,US,USD,1634792400,1642399200,False,False,music/rock,music,rock
4,1365,2199,Larson-Little,Proactive foreground core,7600,5265,failed,53,US,USD,1608530400,1629694800,False,False,theater/plays,theater,plays

In [39]:
# Rename the blurb, launched_at, and deadline columns.
campaign_df = campaign_df.rename(columns={"blurb": "description", "launched_at": "launch_date", "deadline": "end_date"})

In [40]:
# Convert the goal and pledged columns to a `float` data type.
campaign_df['goal'] = campaign_df['goal'].astype(float)
campaign_df['pledged'] = campaign_df['pledged'].astype(float)

In [41]:
# Check the datatypes
print(campaign_df.dtypes)

cf_id                        int64
contact_id                   int64
company_name                object
description                 object
goal                       float64
pledged                    float64
outcome                     object
backers_count                int64
country                     object
currency                    object
launch_date                  int64
end_date                     int64
staff_pick                    bool
spotlight                     bool
category & sub-category     object
category                    object
subcategory                 object
dtype: object

In [42]:
campaign_df.head(50)

,cf_id,contact_id,company_name,description,goal,pledged,outcome,backers_count,country,currency,launch_date,end_date,staff_pick,spotlight,category & sub-category,category,subcategory
0,147,4661,"Baldwin, Riley and Jackson",Pre-emptive tertiary standardization,100.0,0.0,failed,0,CA,CAD,1581573600,1614578400,False,False,food/food trucks,food,food trucks
1,1621,3765,Odom Inc,Managed bottom-line architecture,1400.0,14560.0,successful,158,US,USD,1611554400,1621918800,False,True,music/rock,music,rock
2,1812,4187,"Melton, Robinson and Fritz",Function-based leadingedge pricing structure,108400.0,142523.0,successful,1425,AU,AUD,1608184800,1640844000,False,False,technology/web,technology,web
3,2156,4941,"Mcdonald, Gonzalez and Ross",Vision-oriented fresh-thinking conglomeration,4200.0,2477.0,failed,24,US,USD,1634792400,1642399200,False,False,music/rock,music,rock
4,1365,2199,Larson-Little,Proactive foreground core,7600.0,5265.0,failed,53,US,USD,1608530400,1629694800,False,False,theater/plays,theater,plays
5,2057,5650,Harris Group,Open-source optimizing database,7600.0,13195.0,successful,174,DK,DKK,1607666400,1630213200,False,False,theater/plays,theater,plays
6,1894,5889,"Ortiz, Coleman and Mitchell",Operative upward-trending algorithm,5200.0,1090.0,failed,18,GB,GBP,1596171600,1620709200,False,False,film & video/documentary,film & video,documentary
7,2669,4842,Carter-Guzman,Centralized cohesive challenge,4500.0,14741.0,successful,227,DK,DKK,1608616800,1632200400,False,False,theater/plays,theater,plays
8,1114,3280,Nunez-Richards,Exclusive attitude-oriented intranet,110100.0,21946.0,live,708,DK,DKK,1586322000,1615356000,False,False,theater/plays,theater,plays
9,970,5468,"Rangel, Holt and Jones",Open-source fresh-thinking model,6200.0,3208.0,failed,44,US,USD,1628830800,1630386000,False,False,music/electric music,music,electric music
10,2340,3064,Green Ltd,Monitored empowering installation,5200.0,13838.0,successful,220,US,USD,1594443600,1627880400,False,False,film & video/drama,film & video,drama
11,601,4904,"Perez, Johnson and Gardner",Grass-roots zero administration system engine,6300.0,3030.0,failed,27,US,USD,1597122000,1624683600,False,True,theater/plays,theater,plays
12,1950,1299,Kim Ltd,Assimilated hybrid intranet,6300.0,5629.0,failed,55,US,USD,1605333600,1617944400,False,False,film & video/drama,film & video,drama
13,671,5602,"Walker, Taylor and Coleman",Multi-tiered directional open architecture,4200.0,10295.0,successful,98,US,USD,1605074400,1636174800,False,False,music/indie rock,music,indie rock
14,1683,5753,"Rodriguez, Rose and Stewart",Cloned directional synergy,28200.0,18829.0,failed,200,US,USD,1636869600,1641103200,False,False,music/indie rock,music,indie rock
15,505,4495,"Wright, Hunt and Rowe",Extended eco-centric pricing structure,81200.0,38414.0,failed,452,US,USD,1635138000,1639634400,False,False,technology/wearables,technology,wearables
16,1245,4269,Hines Inc,Cross-platform systemic adapter,1700.0,11041.0,successful,100,US,USD,1629435600,1640152800,False,False,publishing/nonfiction,publishing,nonfiction
17,2550,2226,Cochran-Nguyen,Seamless 4thgeneration methodology,84600.0,134845.0,successful,1249,US,USD,1586667600,1616562000,False,False,film & video/animation,film & video,animation
18,875,1558,Johnson-Gould,Exclusive needs-based adapter,9100.0,6089.0,canceled,135,US,USD,1616562000,1643263200,False,False,theater/plays,theater,plays
19,2283,2307,Perez-Hess,Down-sized cohesive archive,62500.0,30331.0,failed,674,US,USD,1634014800,1637128800,False,True,theater/plays,theater,plays
20,118,2900,"Reeves, Thompson and Richardson",Proactive composite alliance,131800.0,147936.0,successful,1396,US,USD,1586667600,1617944400,False,False,film & video/drama,film & video,drama
21,711,5695,Simmons-Reynolds,Re-engineered intangible definition,94000.0,38533.0,failed,558,US,USD,1615701600,1619672400,False,False,theater/plays,theater,plays
22,1747,5708,Collier Inc,Enhanced dynamic definition,59100.0,75690.0,successful,890,US,USD,1594011600,1628053200,False,False,theater/plays,theater,plays
23,1825,1663,Gray-Jenkins,Devolved next generation adapter,4500.0,14942.0,successful,142,GB,GBP,1627016400,1631422800,False,False,film & video/documentary,film & video,documentary
24,1019,3605,"Scott, Wilson and Martin",Cross-platform intermediate frame,92400.0,104257.0,successful,2673,US,USD,1619845200,1633064400,False,False,technology/wearables,technology,wearables
25,821,4678,"Caldwell, Velazquez and Wilson",Monitored impactful analyzer,5500.0,11904.0,successful,163,US,USD,1602219600,1621746000,False,True,games/video games,games,video games
26,2653,2251,Spencer-Bates,Optional responsive customer loyalty,107500.0,51814.0,canceled,1480,US,USD,1605852000,1627362000,False,False,theater/plays,theater,plays
27,2502,6202,"Best, Carr and Williams",Diverse transitional migration,2000.0,1599.0,failed,15,US,USD,1610085600,1634274000,False,False,music/rock,music,rock
28,325,3715,"Campbell, Brown and Powell",Synchronized global task-force,130800.0,137635.0,successful,2220,US,USD,1608703200,1640239200,False,True,theater/plays,theater,plays
29,1345,4242,"Johnson, Parker and Haynes",Focused 6thgeneration forecast,45900.0,150965.0,successful,1606,CH,CHF,1604642400,1630040400,False,False,film & video/shorts,film & video,shorts
30,2303,4326,Clark-Cooke,Down-sized analyzing challenge,9000.0,14455.0,successful,129,US,USD,1603861200,1613368800,False,False,film & video/animation,film & video,animation
31,2224,5560,Schroeder Ltd,Progressive needs-based focus group,3500.0,10850.0,successful,226,GB,GBP,1606284000,1612504800,False,False,games/video games,games,video games
32,1173,4002,Jackson PLC,Ergonomic 6thgeneration success,101000.0,87676.0,failed,2307,IT,EUR,1613887200,1637906400,False,False,film & video/documentary,film & video,documentary
33,210,3813,"Blair, Collins and Carter",Exclusive interactive approach,50200.0,189666.0,successful,5419,US,USD,1617512400,1639029600,False,False,theater/plays,theater,plays
34,1546,5336,Maldonado and Sons,Reverse-engineered asynchronous archive,9300.0,14025.0,successful,165,US,USD,1611640800,1639116000,False,False,film & video/documentary,film & video,documentary
35,2871,4994,Mitchell and Sons,Synergized intangible challenge,125500.0,188628.0,successful,1965,DK,DKK,1615870800,1616648400,False,True,film & video/drama,film & video,drama
36,2034,1471,Jackson-Lewis,Monitored multi-state encryption,700.0,1101.0,successful,16,US,USD,1617771600,1637906400,False,False,theater/plays,theater,plays
37,2677,4482,"Black, Armstrong and Anderson",Profound attitude-oriented functionalities,8100.0,11339.0,successful,107,US,USD,1605852000,1634533200,False,True,publishing/fiction,publishing,fiction
38,1865,3241,Maldonado-Gonzalez,Digitized client-driven database,3100.0,10085.0,successful,134,US,USD,1629694800,1641794400,False,False,photography/photography books,photography,photography books
39,170,3477,Kim-Rice,Organized bi-directional function,9900.0,5027.0,failed,88,DK,DKK,1618376400,1619845200,False,False,theater/plays,theater,plays
40,462,2265,"Garcia, Garcia and Lopez",Reduced stable middleware,8800.0,14878.0,successful,198,US,USD,1605679200,1616043600,False,True,technology/wearables,technology,wearables
41,3122,5911,Watts Group,Universal 5thgeneration neural-net,5600.0,11924.0,successful,111,IT,EUR,1615957200,1625720400,False,True,music/rock,music,rock
42,1175,2288,Werner-Bryant,Virtual uniform frame,1800.0,7991.0,successful,222,US,USD,1592629200,1611986400,False,False,food/food trucks,food,food trucks
43,2301,4064,Schmitt-Mendoza,Profound explicit paradigm,90200.0,167717.0,successful,6212,US,USD,1605333600,1625547600,False,False,publishing/radio & podcasts,publishing,radio & podcasts
44,91,1294,Reid-Mccullough,Visionary real-time groupware,1600.0,10541.0,successful,98,DK,DKK,1606284000,1614578400,False,False,publishing/fiction,publishing,fiction
45,87,5008,Woods-Clark,Networked tertiary Graphical User Interface,9500.0,4530.0,failed,48,US,USD,1610949600,1616216400,False,True,theater/plays,theater,plays
46,1482,3604,"Vaughn, Hunt and Caldwell",Virtual grid-enabled task-force,3700.0,4247.0,successful,92,US,USD,1621746000,1632373200,False,False,music/rock,music,rock
47,1711,3263,Bennett and Sons,Function-based multi-state software,1500.0,7129.0,successful,149,US,USD,1608271200,1624770000,False,False,theater/plays,theater,plays
48,2294,5631,Lamb Inc,Optimized leadingedge concept,33300.0,128862.0,successful,2431,US,USD,1613973600,1636524000,False,False,theater/plays,theater,plays
49,2389,2851,Casey-Kelly,Sharable holistic interface,7200.0,13653.0,successful,303,US,USD,1611554400,1643522400,False,False,music/rock,music,rock

In [43]:
# Format the launched_date and end_date columns to datetime format
from datetime import datetime as dt
campaign_df['launch_date'] = pd.to_datetime(campaign_df['launch_date'])
campaign_df['end_date'] = pd.to_datetime(campaign_df['end_date'])
campaign_df

,cf_id,contact_id,company_name,description,goal,pledged,outcome,backers_count,country,currency,launch_date,end_date,staff_pick,spotlight,category & sub-category,category,subcategory
0,147,4661,"Baldwin, Riley and Jackson",Pre-emptive tertiary standardization,100.0,0.0,failed,0,CA,CAD,1970-01-01 00:00:01.581573600,1970-01-01 00:00:01.614578400,False,False,food/food trucks,food,food trucks
1,1621,3765,Odom Inc,Managed bottom-line architecture,1400.0,14560.0,successful,158,US,USD,1970-01-01 00:00:01.611554400,1970-01-01 00:00:01.621918800,False,True,music/rock,music,rock
2,1812,4187,"Melton, Robinson and Fritz",Function-based leadingedge pricing structure,108400.0,142523.0,successful,1425,AU,AUD,1970-01-01 00:00:01.608184800,1970-01-01 00:00:01.640844000,False,False,technology/web,technology,web
3,2156,4941,"Mcdonald, Gonzalez and Ross",Vision-oriented fresh-thinking conglomeration,4200.0,2477.0,failed,24,US,USD,1970-01-01 00:00:01.634792400,1970-01-01 00:00:01.642399200,False,False,music/rock,music,rock
4,1365,2199,Larson-Little,Proactive foreground core,7600.0,5265.0,failed,53,US,USD,1970-01-01 00:00:01.608530400,1970-01-01 00:00:01.629694800,False,False,theater/plays,theater,plays
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
995,2986,3684,Manning-Hamilton,Vision-oriented scalable definition,97300.0,153216.0,successful,2043,US,USD,1970-01-01 00:00:01.609221600,1970-01-01 00:00:01.622350800,False,True,food/food trucks,food,food trucks
996,2031,5784,Butler LLC,Future-proofed upward-trending migration,6600.0,4814.0,failed,112,US,USD,1970-01-01 00:00:01.634274000,1970-01-01 00:00:01.638252000,False,False,theater/plays,theater,plays
997,1627,1498,Ball LLC,Right-sized full-range throughput,7600.0,4603.0,canceled,139,IT,EUR,1970-01-01 00:00:01.636174800,1970-01-01 00:00:01.639116000,False,False,theater/plays,theater,plays
998,2175,6073,"Taylor, Santiago and Flores",Polarized composite customer loyalty,66600.0,37823.0,failed,374,US,USD,1970-01-01 00:00:01.602133200,1970-01-01 00:00:01.618117200,False,True,music/indie rock,music,indie rock
999,1788,4939,"Hernandez, Norton and Kelley",Expanded eco-centric policy,111100.0,62819.0,canceled,1122,US,USD,1970-01-01 00:00:01.609308000,1970-01-01 00:00:01.629262800,False,False,food/food trucks,food,food trucks

In [44]:
# Merge the campaign_df with the category_df on the "category" column and 
# the subcategory_df on the "subcategory" column.
campaign_merged_df_df = pd.merge(campaign_df, category_df, on='category', how='outer')
campaign_merged_df = pd.merge(campaign_merged_df_df, subcategory_df, on='subcategory', how='outer')

campaign_merged_df.head(10)

,cf_id,contact_id,company_name,description,goal,pledged,outcome,backers_count,country,currency,launch_date,end_date,staff_pick,spotlight,category & sub-category,category,subcategory,category_id,subcategory_id
0,2550,2226,Cochran-Nguyen,Seamless 4thgeneration methodology,84600.0,134845.0,successful,1249,US,USD,1970-01-01 00:00:01.586667600,1970-01-01 00:00:01.616562000,False,False,film & video/animation,film & video,animation,cat5,subcat11
1,2303,4326,Clark-Cooke,Down-sized analyzing challenge,9000.0,14455.0,successful,129,US,USD,1970-01-01 00:00:01.603861200,1970-01-01 00:00:01.613368800,False,False,film & video/animation,film & video,animation,cat5,subcat11
2,2656,3254,"Hampton, Lewis and Ray",Seamless coherent parallelism,600.0,4022.0,successful,54,US,USD,1970-01-01 00:00:01.627362000,1970-01-01 00:00:01.638252000,False,False,film & video/animation,film & video,animation,cat5,subcat11
3,1903,4736,Acevedo-Huffman,Pre-emptive impactful model,9500.0,4460.0,failed,56,US,USD,1970-01-01 00:00:01.623906000,1970-01-01 00:00:01.630040400,False,True,film & video/animation,film & video,animation,cat5,subcat11
4,1400,1728,Huang-Henderson,Stand-alone mobile customer loyalty,41700.0,138497.0,successful,1539,US,USD,1970-01-01 00:00:01.598763600,1970-01-01 00:00:01.628053200,False,False,film & video/animation,film & video,animation,cat5,subcat11
5,905,5005,Pineda Group,Exclusive real-time protocol,137900.0,165352.0,successful,2468,US,USD,1970-01-01 00:00:01.620795600,1970-01-01 00:00:01.634533200,False,False,film & video/animation,film & video,animation,cat5,subcat11
6,2712,5576,"Reid, Rivera and Perry",Multi-lateral national adapter,3800.0,6000.0,successful,62,US,USD,1970-01-01 00:00:01.634274000,1970-01-01 00:00:01.634619600,False,False,film & video/animation,film & video,animation,cat5,subcat11
7,296,3321,"Lee, Ali and Guzman",Polarized upward-trending Local Area Network,8600.0,3589.0,failed,92,US,USD,1970-01-01 00:00:01.600146000,1970-01-01 00:00:01.614060000,False,False,film & video/animation,film & video,animation,cat5,subcat11
8,2435,2336,Ellison PLC,Re-contextualized tangible open architecture,9300.0,14822.0,successful,329,US,USD,1970-01-01 00:00:01.615784400,1970-01-01 00:00:01.636869600,False,False,film & video/animation,film & video,animation,cat5,subcat11
9,1909,4718,Braun PLC,Function-based high-level infrastructure,2500.0,14536.0,successful,393,US,USD,1970-01-01 00:00:01.625547600,1970-01-01 00:00:01.636088400,False,False,film & video/animation,film & video,animation,cat5,subcat11

In [45]:
cols_to_drop = ['staff_pick', 'spotlight', 'category & sub-category','category','subcategory']

# Drop specified columns if they exist
campaign_cleaned = campaign_merged_df.drop(columns=[col for col in cols_to_drop if col in campaign_merged_df.columns])

campaign_cleaned.head()

,cf_id,contact_id,company_name,description,goal,pledged,outcome,backers_count,country,currency,launch_date,end_date,category_id,subcategory_id
0,2550,2226,Cochran-Nguyen,Seamless 4thgeneration methodology,84600.0,134845.0,successful,1249,US,USD,1970-01-01 00:00:01.586667600,1970-01-01 00:00:01.616562000,cat5,subcat11
1,2303,4326,Clark-Cooke,Down-sized analyzing challenge,9000.0,14455.0,successful,129,US,USD,1970-01-01 00:00:01.603861200,1970-01-01 00:00:01.613368800,cat5,subcat11
2,2656,3254,"Hampton, Lewis and Ray",Seamless coherent parallelism,600.0,4022.0,successful,54,US,USD,1970-01-01 00:00:01.627362000,1970-01-01 00:00:01.638252000,cat5,subcat11
3,1903,4736,Acevedo-Huffman,Pre-emptive impactful model,9500.0,4460.0,failed,56,US,USD,1970-01-01 00:00:01.623906000,1970-01-01 00:00:01.630040400,cat5,subcat11
4,1400,1728,Huang-Henderson,Stand-alone mobile customer loyalty,41700.0,138497.0,successful,1539,US,USD,1970-01-01 00:00:01.598763600,1970-01-01 00:00:01.628053200,cat5,subcat11

In [46]:
# Export the DataFrame as a CSV file. 
campaign_cleaned.to_csv("Resources/campaign.csv", index=False)

### Extract the contacts.xlsx Data.

In [47]:
# Read the data into a Pandas DataFrame. Use the `header=2` parameter when reading in the data.
contact_info_df = pd.read_excel('Resources/contacts.xlsx', header=3)
contact_info_df.head(5)

                                                                                contact_info
0   {"contact_id": 4661, "name": "Cecilia Velasco", "email": "cecilia.velasco@rodrigues.fr"}
1          {"contact_id": 3765, "name": "Mariana Ellis", "email": "mariana.ellis@rossi.org"}
2            {"contact_id": 4187, "name": "Sofie Woods", "email": "sofie.woods@riviere.com"}
3  {"contact_id": 4941, "name": "Jeanette Iannotti", "email": "jeanette.iannotti@yahoo.com"}
4        {"contact_id": 2199, "name": "Samuel Sorgatz", "email": "samuel.sorgatz@gmail.com"}

### Create the Contacts DataFrame 
---
**Create a Contacts DataFrame that has the following columns:**
- A column named "contact_id"  that contains the unique number of the contact person.
- A column named "first_name" that contains the first name of the contact person.
- A column named "last_name" that contains the first name of the contact person.
- A column named "email" that contains the email address of the contact person

Then export the DataFrame as a `contacts.csv` CSV file.

### Option 1: Use Pandas to create the contacts DataFrame.

In [ ]:
import json

# create empty dictionary
dict_values = []

for i, row in contact_info_df.iterrows():
    data = row['contact_info']
    converted_data = json.loads(data)

    # append converted data to an empty dict
    dict_values.append(converted_data)
print(dict_values)

In [ ]:
dict_values

In [ ]:
# Create a contact_info DataFrame and add each list of values, i.e., each row 
# to the 'contact_id', 'name', 'email' columns.

def parse_json_data(json_str):
    data_dict = json.loads(json_str)
    return pd.Series(data_dict)

# Apply the function to create new DataFrame
contact_info = contact_info_df['contact_info'].apply(parse_json_data)
contact_info.head()

In [ ]:
# Check the datatypes.
contact_info.info()

In [ ]:
# Create a "first"name" and "last_name" column with the first and last names from the "name" column. 
contact_info[['first_name', 'last_name']] = contact_info['name'].str.split(' ', expand=True)

# Drop the contact_name column
columns_to_drop = ['name']
contact_info = contact_info.drop(columns_to_drop, axis=1)

contact_info.head()

In [ ]:
# Reorder the columns
contacts_df_clean = contact_info[['contact_id', 'first_name', 'last_name','email']]
contacts_df_clean.head()

In [ ]:
# Check the datatypes one more time before exporting as CSV file.
contacts_df_clean.info

In [ ]:
# Export the DataFrame as a CSV file. 
contacts_df_clean.to_csv("Resources/contacts.csv", encoding='utf8', index=False)

### Option 2: Use regex to create the contacts DataFrame.

In [ ]:
contact_info_df_copy = contact_info_df.copy()
contact_info_df_copy.head()

In [ ]:
# Extract the four-digit contact ID number.

In [ ]:
# Check the datatypes.

In [ ]:
# Convert the "contact_id" column to an int64 data type.

In [ ]:
# Extract the name of the contact and add it to a new column.

In [ ]:
# Extract the email from the contacts and add the values to a new column.

In [ ]:
# Create a copy of the contact_info_df with the 'contact_id', 'name', 'email' columns.

In [ ]:
# Create a "first"name" and "last_name" column with the first and last names from the "name" column. 


# Drop the contact_name column

In [ ]:
# Reorder the columns

In [ ]:
# Check the datatypes one more time before exporting as CSV file.

In [ ]:
# Export the DataFrame as a CSV file. 
# contacts_df_clean.to_csv("Resources/contacts.csv", encoding='utf8', index=False)